<!-- Student: DEAN GIBSON
    Student ID: 1154119
-->

{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of books-->
<h2>Book List</h2>
<h3>A list of all books in our collection</h3>

<table class="table table-striped table-hover"> <!-- Task #1, bootstrap table formatting, striped and hovering as requested-->
    <tr><th>Book ID</th><th>Title</th><th>Author</th><th>Type</th><th>Year of Publication</th><th>Description</th></tr>
    {% for book in booklist %} <!-- lower case booklist defined from fetch all called in listbooks function via app.py-->
        <tr>
            {% for entry in book %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>

        
    {% endfor %}
    
</table>

{% endblock %}