<!-- Student: DEAN GIBSON
    Student ID: 1154119
-->

{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of borrowers -->
<!-- borrowerlist is the variable passed in containing list of loans -->


<table class="table table-striped table-hover"><!-- Task #2, lists all borrowers in a table, striped and hover like booklist.html-->
    <thead><tr>
        {% for columnName in ['BorrowerID', 'FirstName', 'FamilyName', 'DateOfBirth', 'HouseNumberName', 'Street', 'Town', 'City', 'Postcode'] %} <!-- jinja code listing borrowers via sql-->
        <th>{{ columnName }}</th>
        {% endfor %}
    </tr></thead>
    <tbody>
    {% for borrower in borrowerlist %} <!-- borrowlist from listborrows function via app.py -->
    <tr>
        {% for column in borrower %} 
            <td>{{column}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}